.articles {
  color: rgb(101, 101, 101);
  width: 100%;
  border: 0;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  background-color: rgb(255, 255, 255);
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.articles:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.h-2 {
  color: rgb(34, 34, 34);
  border: 0;
  display: block;
  font-size: 24px;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0em;
  text-align: center;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: bold;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0em;
  padding-right: 0px;
  padding-bottom: 0px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.h-2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div {
  color: rgb(101, 101, 101);
  border: 0;
  display: grid;
  font-size: inherit;
  box-sizing: inherit;
  column-gap: 1.875rem;
  font-style: inherit;
  margin-top: 0.625rem;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0.625rem;
  padding-right: 0px;
  grid-auto-rows: 1fr;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  grid-template-columns: 1fr 1fr 1fr;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div01 {
  color: rgb(101, 101, 101);
  border: 0;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0.938rem;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0.938rem;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div01:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div02 {
  color: rgb(101, 101, 101);
  border: 0;
  height: 100%;
  display: block;
  position: relative;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  background-color: rgb(247, 247, 247);
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div02:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a {
  color: rgb(0, 9, 58);
  border: 0;
  cursor: pointer;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  text-decoration-line: none;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.a:hover,.a:focus {
  color: rgb(0, 120, 160);
}
.a:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.div03 {
  color: rgb(101, 101, 101);
  border: 0;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div03:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img {
  color: rgb(101, 101, 101);
  width: 100%;
  border: 0;
  height: auto;
  display: inline-block;
  font-size: inherit;
  max-width: 100%;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  overflow-x: clip;
  overflow-y: clip;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  overflow-clip-margin: content-box;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.img:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div04 {
  color: rgb(101, 101, 101);
  border: 0;
  height: auto;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  min-height: auto;
  text-align: left;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 22px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 25px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-bottom: 20px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div04:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span {
  color: rgb(0, 9, 58);
  float: none;
  display: block;
  font-size: 1em;
  box-sizing: inherit;
  font-family: Montserrat;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.span:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p {
  color: rgb(0, 9, 58);
  border: 0;
  display: block;
  font-size: 1.25em;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 1em;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 1em;
  padding-right: 0px;
  padding-bottom: 0px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  text-decoration-line: underline;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.p:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p1 {
  color: rgb(0, 9, 58);
  border: 0;
  display: block;
  font-size: 1em;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 1.5em;
  padding-right: 0px;
  padding-bottom: 0px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.p1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div05 {
  color: rgb(101, 101, 101);
  border: 0;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0.938rem;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0.938rem;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div05:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div06 {
  color: rgb(101, 101, 101);
  border: 0;
  height: 100%;
  display: block;
  position: relative;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  background-color: rgb(247, 247, 247);
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div06:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a1 {
  color: rgb(0, 9, 58);
  border: 0;
  cursor: pointer;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  text-decoration-line: none;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.a1:hover,.a1:focus {
  color: rgb(0, 120, 160);
}
.a1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.div07 {
  color: rgb(101, 101, 101);
  border: 0;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div07:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img1 {
  color: rgb(101, 101, 101);
  width: 100%;
  border: 0;
  height: auto;
  display: inline-block;
  font-size: inherit;
  max-width: 100%;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  overflow-x: clip;
  overflow-y: clip;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  overflow-clip-margin: content-box;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.img1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div08 {
  color: rgb(101, 101, 101);
  border: 0;
  height: auto;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  min-height: auto;
  text-align: left;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 22px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 25px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-bottom: 20px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div08:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span1 {
  color: rgb(0, 9, 58);
  float: none;
  display: block;
  font-size: 1em;
  box-sizing: inherit;
  font-family: Montserrat;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.span1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p2 {
  color: rgb(0, 9, 58);
  border: 0;
  display: block;
  font-size: 1.25em;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 1em;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 1em;
  padding-right: 0px;
  padding-bottom: 0px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  text-decoration-line: underline;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.p2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p3 {
  color: rgb(0, 9, 58);
  border: 0;
  display: block;
  font-size: 1em;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 1.5em;
  padding-right: 0px;
  padding-bottom: 0px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.p3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div09 {
  color: rgb(101, 101, 101);
  border: 0;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0.938rem;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0.938rem;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div09:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div10 {
  color: rgb(101, 101, 101);
  border: 0;
  height: 100%;
  display: block;
  position: relative;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  background-color: rgb(247, 247, 247);
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div10:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a2 {
  color: rgb(0, 9, 58);
  border: 0;
  cursor: pointer;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  text-decoration-line: none;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.a2:hover,.a2:focus {
  color: rgb(0, 120, 160);
}
.a2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.div11 {
  color: rgb(101, 101, 101);
  border: 0;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div11:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img2 {
  color: rgb(101, 101, 101);
  width: 100%;
  border: 0;
  height: auto;
  display: inline-block;
  font-size: inherit;
  max-width: 100%;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  overflow-x: clip;
  overflow-y: clip;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  overflow-clip-margin: content-box;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.img2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.div12 {
  color: rgb(101, 101, 101);
  border: 0;
  height: auto;
  display: block;
  font-size: inherit;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  min-height: auto;
  text-align: left;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: inherit;
  line-height: inherit;
  margin-left: 0px;
  padding-top: 22px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 25px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-bottom: 20px;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.div12:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.span2 {
  color: rgb(0, 9, 58);
  float: none;
  display: block;
  font-size: 1em;
  box-sizing: inherit;
  font-family: Montserrat;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.span2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p4 {
  color: rgb(0, 9, 58);
  border: 0;
  display: block;
  font-size: 1.25em;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 1em;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 1em;
  padding-right: 0px;
  padding-bottom: 0px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  text-decoration-line: underline;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.p4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.p5 {
  color: rgb(0, 9, 58);
  border: 0;
  display: block;
  font-size: 1em;
  box-sizing: inherit;
  font-style: inherit;
  margin-top: 0px;
  font-family: Roboto, Calibri, sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  margin-left: 0px;
  padding-top: 0px;
  font-kerning: inherit;
  font-stretch: inherit;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 1.5em;
  padding-right: 0px;
  padding-bottom: 0px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  border-top-width: 0px;
  border-left-width: 0px;
  font-variant-caps: inherit;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-optical-sizing: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  font-variant-ligatures: inherit;
  font-variant-alternates: inherit;
  font-variant-east-asian: inherit;
  font-variation-settings: inherit;
}
.p5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 1024px) {
  .div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .h-2 {
    font-size: 24px;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .div {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .p,.p2,.p4 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media(max-width: 480px) {
  .articles {
    color: rgb(101, 101, 101);
    width: 100%;
    font-size: inherit;
    margin-top: 0px;
    font-weight: inherit;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .articles,.h-2 {
    border: 0;
    display: block;
    box-sizing: inherit;
    font-style: inherit;
    font-family: Roboto, Calibri, sans-serif;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .h-2 {
    color: rgb(34, 34, 34);
    font-size: 22px;
    margin-top: 0.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-rendering: optimizelegibility;
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div {
    display: grid;
    column-gap: 1.875rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    grid-template-columns: 1fr;
  }
  .div,.div01 {
    color: rgb(101, 101, 101);
    border: 0;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div01 {
    display: block;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
  }
  .div02 {
    color: rgb(101, 101, 101);
    height: 100%;
    display: block;
    position: relative;
    background-color: rgb(247, 247, 247);
  }
  .div02,.a {
    border: 0;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    margin-top: 0px;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .a {
    color: rgb(0, 9, 58);
    cursor: pointer;
    text-decoration-line: none;
  }
  .div03 {
    display: block;
  }
  .div03,.img {
    color: rgb(101, 101, 101);
    border: 0;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    margin-top: 0px;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .img {
    width: 100%;
    height: auto;
    display: inline-block;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    overflow-clip-margin: content-box;
  }
  .div04 {
    color: rgb(101, 101, 101);
    border: 0;
    height: auto;
    font-size: inherit;
    font-style: inherit;
    margin-top: 0px;
    min-height: auto;
    text-align: left;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 22px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 25px;
    margin-bottom: 0px;
    padding-right: 25px;
    padding-bottom: 20px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div04,.span {
    display: block;
    box-sizing: inherit;
  }
  .span {
    color: rgb(0, 9, 58);
    float: none;
    font-size: 1em;
    font-family: Montserrat;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .p {
    font-size: 1.25em;
    margin-top: 0.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-rendering: optimizelegibility;
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    text-decoration-line: underline;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .p,.p1 {
    color: rgb(0, 9, 58);
    border: 0;
    display: block;
    box-sizing: inherit;
    font-style: inherit;
    font-family: Roboto, Calibri, sans-serif;
    line-height: 1.5em;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .p1 {
    font-size: 1em;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 1.5em;
    text-rendering: optimizelegibility;
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div05 {
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
  }
  .div05,.div06 {
    color: rgb(101, 101, 101);
    border: 0;
    display: block;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div06 {
    height: 100%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
  }
  .a1 {
    color: rgb(0, 9, 58);
    cursor: pointer;
    text-decoration-line: none;
  }
  .a1,.div07 {
    border: 0;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    margin-top: 0px;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div07 {
    color: rgb(101, 101, 101);
    display: block;
  }
  .img1 {
    width: 100%;
    display: inline-block;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow-clip-margin: content-box;
  }
  .img1,.div08 {
    color: rgb(101, 101, 101);
    border: 0;
    height: auto;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    margin-top: 0px;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    margin-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div08 {
    display: block;
    min-height: auto;
    text-align: left;
    padding-top: 22px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }
  .span1 {
    float: none;
    font-size: 1em;
    font-family: Montserrat;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .span1,.p2 {
    color: rgb(0, 9, 58);
    display: block;
    box-sizing: inherit;
  }
  .p2 {
    font-size: 1.25em;
    margin-top: 0.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-rendering: optimizelegibility;
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    text-decoration-line: underline;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .p2,.p3 {
    border: 0;
    font-style: inherit;
    font-family: Roboto, Calibri, sans-serif;
    line-height: 1.5em;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .p3 {
    color: rgb(0, 9, 58);
    display: block;
    font-size: 1em;
    box-sizing: inherit;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 1.5em;
    text-rendering: optimizelegibility;
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div09 {
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
  }
  .div09,.div10 {
    color: rgb(101, 101, 101);
    border: 0;
    display: block;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div10 {
    height: 100%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
  }
  .a2 {
    color: rgb(0, 9, 58);
    cursor: pointer;
    text-decoration-line: none;
  }
  .a2,.div11 {
    border: 0;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    margin-top: 0px;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div11 {
    color: rgb(101, 101, 101);
    display: block;
  }
  .img2 {
    width: 100%;
    display: inline-block;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow-clip-margin: content-box;
  }
  .img2,.div12 {
    color: rgb(101, 101, 101);
    border: 0;
    height: auto;
    font-size: inherit;
    box-sizing: inherit;
    font-style: inherit;
    margin-top: 0px;
    font-family: Roboto, Calibri, sans-serif;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    margin-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    font-variant-caps: inherit;
    border-right-width: 0px;
    border-bottom-width: 0px;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .div12 {
    display: block;
    min-height: auto;
    text-align: left;
    padding-top: 22px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }
  .span2 {
    float: none;
    font-size: 1em;
    font-family: Montserrat;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .span2,.p4 {
    color: rgb(0, 9, 58);
    display: block;
    box-sizing: inherit;
  }
  .p4 {
    font-size: 1.25em;
    margin-top: 0.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-rendering: optimizelegibility;
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    text-decoration-line: underline;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
  .p4,.p5 {
    border: 0;
    font-style: inherit;
    font-family: Roboto, Calibri, sans-serif;
    line-height: 1.5em;
    margin-left: 0px;
    padding-top: 0px;
    font-kerning: inherit;
    font-stretch: inherit;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: baseline;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .p5 {
    color: rgb(0, 9, 58);
    display: block;
    font-size: 1em;
    box-sizing: inherit;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 1.5em;
    text-rendering: optimizelegibility;
    font-variant-caps: inherit;
    font-optical-sizing: inherit;
    font-variant-numeric: inherit;
    font-feature-settings: inherit;
    font-variant-ligatures: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variation-settings: inherit;
  }
}
